*{
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: black;
    text-decoration: none;
    display: flex;
    justify-content: right;
    padding: 10px;
    font-family:  "Gill Sans", sans-serif;
    font-weight:bold ;
    font-size: 5px;
}
nav li{
    margin: 10px;
}
nav a{
    text-decoration: none;
 color: aliceblue;
 font-size: 24px;
}
.first{
    height:250px;
    background-color:grey;
    width: auto;
    justify-content: center;
 text-align: center;
}

.profile{
    border-radius: 50%;
   width: 250px;
 padding: 100px

}
.para p{
justify-content: center;
text-align: justify;
padding: 20px;
margin-left: 7%;
margin-right: 7%;
   
}
footer{
    background-color: black;
    width: auto;
    height: 50px;
    }
    
    a:hover {
        color: green;
      }
    
    
    .foot{
        text-align: center;
        color: aliceblue;
        font-family:  "Gill Sans", sans-serif;
        font-weight:bold ;
        padding-top: 20px;
    }
    h1{
        text-align: center;
        font-family:  "Gill Sans", sans-serif;
        font-weight:bold ;

    }
    .para h1{
        padding-top: 10%;
    }
